@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'base/mutual';
.footer {
  padding: 4rem 0 6rem 0;
  &-Wrap{
    background-color: #FFF;
  }
  &-Logo {
    a {
      display: flex;
      align-items: center;
      gap: 2rem;
      span {
        font-family: "Aquire-Regular", sans-serif;
        color: $primary-2;
        font-size: 4.2rem;
      }
    }
  }
  &-Body{
    display: flex;
    justify-content: space-between;
  }
  &-Intro{
    &_nameSys{
      &_title{
        font-family: $font-semibold;
        font-size: 3.2rem;
        line-height: 3.2rem;
        color: $secondary-1;
      }
    }
    &_main{
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      margin-top: 2.4rem;
    }
    &_nameSchool{
      font-family: $font-bold;
      font-size: 2.4rem;
      line-height: 3.2rem;
      color: $palette-1;
    }
    &_location, &_phone{
      display: flex;
      align-items: center;
      gap: 8px;
      i{
        font-size: 2.4rem;
        height: 2.4rem;
      }
      span{
        font-family: $font-medium;
        font-size: 1.8rem;
        line-height: 2.6rem;
        color: $palette-1;
      }
    }
    &_location{
      i{
        color: $primary-2;
      }
    }
    &_phone{
      i{
        color: $brand;
      }
    }
  }
  &-Guide, &-Info, &-Conect{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    &_name{
      font-family: $font-bold;
      font-size: 3.2rem;
      line-height: 4rem;
      color: $brand;
    }
    &_link{
      font-family: $font-semibold;
      font-size: 2rem;
      line-height: 1.8rem;
      color: $secondary-1;
    }
    &_link:hover{
      color: $palette-1;
    }
  }
  &-Conect{
    &_social{
      display: flex;
      gap: 3.2rem;
      i{
        font-size: 4rem;
        color: $secondary-1;
      }
    }
  }
}
.copyR{
  &-Wrap{
    background: rgba(164, 217, 255, 0.5);
  }
  display: flex;
  justify-content: center;
  padding: 1.4rem 0;
  span{
    font-family: $font-semibold;
    font-size: 2.4rem;
    line-height: 2.4rem;
  }
  
}