@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'base/mutual';

.footer {
    background: #fff;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.06);
  
    &__wrap {
      display: flex;
      justify-content: space-between;
      padding-top: 4rem;
      padding-bottom: 4rem;
      // flex-flow col cho responsive
    }
  
    &__guide,
    &__info,
    &__links {
      .title {
        font-family: $font-bold;
        color: $color--red;
        font-size: 2.4rem;
        padding-top: 4.5rem;
      }
    }
    &__item {
      a {
        display: block;
        padding-top: 3.6rem;
        font-family: $font-semibold;
        color: $color--darkblue;
        font-size: 1.8rem;
      }
    }
    .links {
      display: flex;
      a {
        font-size: 3rem;
        padding-top: 2.5rem;
        margin-right: 1.5rem;
      }
    }
  }
  a.location {
    padding-top: 2.8rem;
  }
  a.phone {
    padding-top: 2.8rem;
  }
  .location::before {
    content: url("../img/location.svg");
    display: inline-block;
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1.5rem;
    transform: translateY(20%);
  }
  .phone::before {
    content: url("../img/phone-call.svg");
    display: inline-block;
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1.5rem;
    transform: translateY(20%);
  }
  .logo {
    display: flex;
    justify-content: center;
    a {
      padding: 0;
    }
  }
  .no-pd-top {
    padding-top: 0rem !important;
  }
  .bottom {
    background-color: $color-bottom-bar;
    // margin-top: 7.7rem;
    &__info {
      font-family: $font-semibold;
      color: $color--grey;
      text-align: center;
      padding: 1.4rem 0;
  
      p {
        margin-bottom: 0;
      }
    }
  }