@import "abstracts/variables";
@import "abstracts/mixins";
@import "base/mutual";

.header {
  width: 100%;
  padding: 1rem 0px;
  background-color: $palette-7;
  &-General {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_left {
      display: flex;
      align-items: center;
      gap: 5.8rem;
    }
  }
  &-Logo {
    a {
      display: flex;
      align-items: center;
      span {
        font-family: "Aquire-Regular", sans-serif;
        color: $primary-2;
        font-size: 3.2rem;
        margin-left: 2rem;
      }
    }
    img {
      height: 7.2rem;
    }
  }
  &-Category {
    display: flex;
    gap: 4.8rem;
    &_item{
      width: inherit;
      display: inline-block;
    }
    &_link{
        display: inline-block;
        padding: 1rem;
        min-width: 10rem;
        text-align: center;
        font-family: $font-semibold;
        font-size: 2.4rem;
        line-height: 3.2rem;
        color: $palette-1;
    }
    &_link:hover{
        color: $palette-1;
        font-family: $font-bold;
    }
  }
  &-Link {
    &_active {
      font-family: $font-bold;
    }
  }
  &-Action {
    &_login {
      display: flex;
      gap: 8px;
      align-items: center;
      justify-items: center;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
      padding: 1rem 2.4rem;
      border-radius: 8px;
      background-color: $primary-3;
      i{
        display: flex;
        align-items: center;
      }
      i,
      span {
        font-family: $font-semibold;
        font-size: 2rem;
        line-height: 2.8rem;
        color: $palette-7;
      }
    }
    &_acount{
      position: relative;
      display: flex;
      align-items: center;
      gap: 1rem;
      span,i{
        font-family: $font-medium;
        font-size: 2rem;
        color: $palette-1;
      }
      span{
        line-height: 2.8rem;
      }
    }
  }
  &-Acount{
    &_img{
      width: 5.5rem;
      height: 5.5rem;
      border-radius: 10rem;
      border: 3px solid #E0E7EB;
      object-fit: fill;
      object-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
      img{
        display: block;
        max-width: 100%;
      }
    }
    &_category{
      display: none;
      position: absolute;
      top: 6.4rem;
      left: 0;
      width: 110%;
      background-color: $palette-6;
      border-radius: 1rem;
      box-shadow: -2px -2px 6px rgba(0, 0, 0, 0.1), 2px 2px 6px rgba(0, 0, 0, 0.1);
      z-index: 1000;
    }
    &_link{
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 1.4rem 1rem;
      i, span{
        vertical-align: baseline;
        font-family: $font-medium;
        font-size: 2rem;
        line-height: 2.8rem;
        color: $palette-1;
      }
      i{
        line-height: 1.8rem !important;
      }
      span{
        width: 100%;
      }
    }
    &_link:hover{
      background: rgba(224, 231, 235, 0.5); ;
    }
    &_item:first-child a:hover{
      border-radius: 1rem 1rem 0 0 ;
    }
    &_item:last-child a:hover{
      border-radius: 0 0 1rem 1rem ;
    }
  }
  
}
.show-Category{
  display: block;
}



