@charset "UTF-8";
/* Set các giá trị với màn hình tương ứng */
html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* using rem unit */
html {
  font-size: 62.5%;
}

img {
  display: block;
  max-width: 100%;
}

body {
  overflow-x: hidden;
  font-family: "DarkerGrotesque-Medium", sans-serif;
  font-size: 1.6rem;
  color: #7b7986;
  line-height: 1;
  background-color: #f9fbfe;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: #e0e7eb;
  width: 100%;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  padding-left: 6rem;
}
.nav-bar_content {
  display: flex;
  gap: 8px;
  max-width: 1440px;
  font-size: 2rem;
  line-height: 2.8rem;
  font-family: "DarkerGrotesque-Bold", sans-serif;
}
.nav-bar_content a,
.nav-bar_content i {
  cursor: pointer;
  color: #1D262B;
}
.nav-bar_content i {
  display: flex;
  align-items: center;
}
.nav-bar_content a:last-child {
  color: #22438C;
}
.nav-bar_content a:hover {
  text-decoration: underline;
}
.nav-bar_menu {
  display: none;
  margin-top: auto;
  margin-bottom: auto;
  right: 10px;
  padding: 0 0.8rem;
  margin-right: 1.2rem;
}
.nav-bar_menu i {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.8rem;
  line-height: 2.6rem;
  color: #1D262B;
}

@media screen and (min-width: 240px) {
  .nav-bar {
    gap: 4px;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    padding-left: 1.2rem;
  }
  .nav-bar_content {
    font-size: 14px;
    line-height: 2.2rem;
  }
  .nav-bar_content i {
    padding-top: 2px;
  }
  .nav-bar_link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 8rem;
  }
  .nav-bar_link_subjectHall {
    max-width: 14rem;
  }
  .nav-bar_menu {
    display: block;
  }
}
@media screen and (min-width: 480px) {
  .nav-bar_content {
    font-size: 16px;
    line-height: 2.4rem;
  }
  .nav-bar_content i {
    padding-top: 2px;
  }
  .nav-bar_link {
    max-width: 24rem;
  }
}
@media screen and (min-width: 768px) {
  .nav-bar {
    padding-left: 6rem;
  }
  .nav-bar_content {
    font-size: 18px;
    line-height: 2.6rem;
  }
  .nav-bar_content i {
    padding-top: 4px;
  }
  .nav-bar_link {
    max-width: 60rem;
  }
}
@media screen and (min-width: 1024px) {
  .nav-bar_menu i {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .nav-bar {
    padding-left: 6rem;
  }
  .nav-bar_content {
    font-size: 20px;
    line-height: 2.8rem;
  }
  .nav-bar_content i {
    padding-top: 0px;
  }
  .nav-bar_link {
    max-width: 60rem;
  }
}
body {
  margin: auto;
}

.subjectHall_title {
  width: 100%;
  padding: 2.4rem 1rem;
  text-align: center;
}
.subjectHall_title h1 {
  width: 100%;
  font-family: "DarkerGrotesque-Bold", sans-serif;
  font-size: 3.2rem;
  line-height: 4rem;
  text-transform: uppercase;
  color: #22438C;
}
.subjectHall_title-underline {
  width: 30rem;
  border: 1.5px solid #DF2040;
  border-radius: 10rem;
  background-color: #DF2040;
  margin-left: auto;
  margin-right: auto;
}
.subjectHall_main {
  margin-top: 4.8rem;
  padding: 4rem 4rem 7.2rem 4rem;
}
.subjectHall_intro {
  padding: 4rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.06), 2px 2px 10px rgba(0, 0, 0, 0.06);
}
.subjectHall_intro-title {
  font-family: "DarkerGrotesque-Bold", sans-serif;
  font-size: 2.4rem;
  line-height: 3.2rem;
  text-transform: uppercase;
  color: #22438C;
}
.subjectHall_intro-content {
  font-family: "DarkerGrotesque-Medium", sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
  color: #7B7986;
  text-align: justify;
  margin-top: 1.6rem;
}
.subjectHall_card {
  display: flex;
  gap: 4rem;
  padding: 0;
  margin-top: 4rem;
}
.subjectHall_card-item {
  width: 48.4%;
  height: 30rem;
  border-radius: 1rem;
  position: relative;
}
.subjectHall_card-learn, .subjectHall_card-exam {
  position: relative;
  overflow: hidden;
}
.subjectHall_card-name {
  position: absolute;
  font-family: "DarkerGrotesque-Bold", sans-serif;
  font-size: 5.6rem;
  line-height: 6.4rem;
  color: #fcfcfc;
  top: 3.2rem;
  left: 3.2rem;
}
.subjectHall_card-item:hover {
  cursor: pointer;
  box-shadow: -4px -4px 20px rgba(0, 0, 0, 0.2), 4px 4px 20px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.subjectHall_card-learn::before {
  content: url("./../img/SVG//Learn.svg");
  position: absolute;
  top: 6.8rem;
  left: 31rem;
  transform: rotate(-20deg);
  mix-blend-mode: soft-light;
  opacity: 0.6;
}
.subjectHall_card-exam::before {
  content: url("./../img/SVG//Exam.svg");
  position: absolute;
  top: 6rem;
  left: 32rem;
  mix-blend-mode: soft-light;
  opacity: 0.6;
}
.subjectHall_divide {
  width: 100%;
  border: 1px solid #e0e7eb;
  margin-top: 4.8rem;
}
.subjectHall_relate {
  margin-top: 4.8rem;
  padding: 1.2rem 0 2.4rem 0;
}
.subjectHall_relate-title {
  font-family: "DarkerGrotesque-Bold", sans-serif;
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #22438C;
  text-transform: uppercase;
}
.subjectHall_relate-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2.8rem;
}
.subjectHall_relate-card-item {
  max-width: 49%;
  background-color: white;
  border-radius: 1rem;
  box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.06), 2px 2px 10px rgba(0, 0, 0, 0.06);
  padding: 2.4rem;
}
.subjectHall_relate-card-item:hover {
  cursor: pointer;
  box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.1), 4px 4px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.subjectHall_relate-card-name {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.8rem;
  color: #1D262B;
}
.subjectHall_relate-card-content {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #7B7986;
  text-align: justify;
  margin-top: 1.6rem;
}
.subjectHall_relate-card-down {
  margin-top: 2.4rem;
}

/*# sourceMappingURL=Subject_Hall.css.map */
