@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'base/mutual';

body {
    margin: auto;
}

.slide-bl {
    -webkit-animation: slide-bl 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-bl 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.text-shadow-drop-center {
	-webkit-animation: text-shadow-drop-center 0.5s both;
	        animation: text-shadow-drop-center 0.5s both;
}

.subjectHall {
    &_title {
        width: 100%;
        padding: 2.4rem 1rem;
        text-align: center;

        h1 {
            width: 100%;
            @include font(semibold, 32);
            text-transform: uppercase;
            color: $secondary-1;
            margin-bottom: 0;
        }

        &-underline {
            width: 30rem;
            border: 1.5px solid $brand;
            border-radius: 10rem;
            background-color: $brand;
            margin-left: auto;
            margin-right: auto;
            margin-top: 8px;
        }
    }

    //---------------------------------------------------------------------//
    &_main {
        margin-top: 4.8rem;
        padding: 4rem 4rem 7.2rem 4rem;
    }

    //---------------------------------------------------------------------//
    &_intro {
        padding: 4rem;
        background-color: #fff;
        border-radius: 1rem;
        box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.06), 2px 2px 10px rgba(0, 0, 0, 0.06);
        ;

        &-title {
            @include font(semibold, 20);
            text-transform: uppercase;
            color: $secondary-1;
        }

        &-content {
            @include font(regular, 16);
            color: $secondary-7;
            text-align: justify;
            margin-top: 1.6rem;
        }
    }

    //---------------------------------------------------------------------//
    &_card {
        display: flex;
        gap: 4rem;
        padding: 0;
        margin-top: 4rem;

        &-item {
            width: 48.4%;
            height: 30rem;
            border-radius: 1rem;
            position: relative;

            &:hover {
                cursor: pointer;
                box-shadow: -4px -4px 20px rgba(0, 0, 0, 0.2), 4px 4px 20px rgba(0, 0, 0, 0.2);
                transition: all 0.5s;
            }
        }

        &-name {
            position: absolute;
            @include font(bold, 56);
            color: $palette-7;
            top: 3.2rem;
            left: 3.2rem;
        }

        &-learn,
        &-exam {
            position: relative;
            overflow: hidden;
        }

        &-learn::before {
            content: url('./../img/SVG//Learn.svg');
            position: absolute;
            top: 6.8rem;
            left: 31rem;
            transform: rotate(-20deg);
            mix-blend-mode: soft-light;
            opacity: 0.6;

        }

        &-exam::before {
            content: url('./../img/SVG//Exam.svg');
            position: absolute;
            top: 6rem;
            left: 32rem;
            mix-blend-mode: soft-light;
            opacity: 0.6;
        }
    }

    //---------------------------------------------------------------------//
    &_divide {
        width: 100%;
        border: 1px solid $palette-4;
        margin-top: 4.8rem;
    }

    //---------------------------------------------------------------------//
    &_relate {
        margin-top: 4.8rem;
        padding: 1.2rem 0 2.4rem 0;

        &-title {
            @include font(semibold, 20);
            color: $secondary-1;
            text-transform: uppercase;

        }

        &-card {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 2.8rem;

            &-item {
                position: relative;
                max-width: 49%;
                background-color: #ffff;
                border-radius: 1rem;
                box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.04), 2px 2px 10px rgba(0, 0, 0, 0.04);
                padding: 2.4rem;
                overflow: hidden;

                &:hover {
                    cursor: pointer;
                    @extend .text-shadow-drop-center;
                    // &::before {
                    //     content: "";
                    //     position: absolute;
                    //     width: 10rem;
                    //     height: 10rem;
                    //     background-color: $secondary-1;
                    //     border-radius: 10rem;
                    //     top: -30%;
                    //     right: -10%;
                    //     @extend .slide-bl;
                    // }
                }

            }

            &-name {
                @include font(semibold, 16);
                color: $palette-1;
            }

            &-content {
                @include font(regular, 14);
                line-height: 2.6rem;
                color: $secondary-7;
                text-align: justify;
                margin-top: 1.6rem;
            }

            &-down {
                margin-top: 2.4rem;
            }
        }
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-30 14:49:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-bl
 * ----------------------------------------
 */
@-webkit-keyframes slide-bl {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }

    100% {
        -webkit-transform: translateY(-30%) translateX(-10%);
        transform: translateY(-30%) translateX(-10%);
    }
}

@keyframes slide-bl {
    0% {
        -webkit-transform: translateY(0) translateX(0);
        transform: translateY(0) translateX(0);
    }

    100% {
        -webkit-transform: translateY(4%) translateX(-4%);
        transform: translateY(4%) translateX(-4%);
    }
}

/**
 * ----------------------------------------
 * @animation text-shadow-drop-center
 * ----------------------------------------
 */
@-webkit-keyframes text-shadow-drop-center {
    0% {
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.08), 4px 4px 10px rgba(0, 0, 0, 0.08);
    }
}

@keyframes text-shadow-drop-center {
    0% {
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.08), 4px 4px 10px rgba(0, 0, 0, 0.08);
    }
}