@charset "UTF-8";
/* Set các giá trị với màn hình tương ứng */
html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* using rem unit */
html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  font-family: "OpenSans", sans-serif;
  font-size: 1.6rem;
  color: #7b7986;
  line-height: 1;
  background-color: #f9fbfe;
}

body {
  margin: auto;
}

.slide-bl {
  -webkit-animation: slide-bl 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bl 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.text-shadow-drop-center, .subjectHall_relate-card-item:hover {
  -webkit-animation: text-shadow-drop-center 0.5s both;
  animation: text-shadow-drop-center 0.5s both;
}

.subjectHall_title {
  width: 100%;
  padding: 2.4rem 1rem;
  text-align: center;
}
.subjectHall_title h1 {
  width: 100%;
  font-family: "OpenSans", sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  text-transform: uppercase;
  color: #22438C;
  margin-bottom: 0;
}
.subjectHall_title-underline {
  width: 30rem;
  border: 1.5px solid #DF2040;
  border-radius: 10rem;
  background-color: #DF2040;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}
.subjectHall_main {
  margin-top: 4.8rem;
  padding: 4rem 4rem 7.2rem 4rem;
}
.subjectHall_intro {
  padding: 4rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.06), 2px 2px 10px rgba(0, 0, 0, 0.06);
}
.subjectHall_intro-title {
  font-family: "OpenSans", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  text-transform: uppercase;
  color: #22438C;
}
.subjectHall_intro-content {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #7B7986;
  text-align: justify;
  margin-top: 1.6rem;
}
.subjectHall_card {
  display: flex;
  gap: 4rem;
  padding: 0;
  margin-top: 4rem;
}
.subjectHall_card-item {
  width: 48.4%;
  height: 30rem;
  border-radius: 1rem;
  position: relative;
}
.subjectHall_card-item:hover {
  cursor: pointer;
  box-shadow: -4px -4px 20px rgba(0, 0, 0, 0.2), 4px 4px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}
.subjectHall_card-name {
  position: absolute;
  font-family: "OpenSans", sans-serif;
  font-size: 56px;
  line-height: 64px;
  font-weight: 700;
  color: #fcfcfc;
  top: 3.2rem;
  left: 3.2rem;
}
.subjectHall_card-learn, .subjectHall_card-exam {
  position: relative;
  overflow: hidden;
}
.subjectHall_card-learn::before {
  content: url("./../img/SVG//Learn.svg");
  position: absolute;
  top: 6.8rem;
  left: 31rem;
  transform: rotate(-20deg);
  mix-blend-mode: soft-light;
  opacity: 0.6;
}
.subjectHall_card-exam::before {
  content: url("./../img/SVG//Exam.svg");
  position: absolute;
  top: 6rem;
  left: 32rem;
  mix-blend-mode: soft-light;
  opacity: 0.6;
}
.subjectHall_divide {
  width: 100%;
  border: 1px solid #e0e7eb;
  margin-top: 4.8rem;
}
.subjectHall_relate {
  margin-top: 4.8rem;
  padding: 1.2rem 0 2.4rem 0;
}
.subjectHall_relate-title {
  font-family: "OpenSans", sans-serif;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: #22438C;
  text-transform: uppercase;
}
.subjectHall_relate-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2.8rem;
}
.subjectHall_relate-card-item {
  position: relative;
  max-width: 49%;
  background-color: white;
  border-radius: 1rem;
  box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.04), 2px 2px 10px rgba(0, 0, 0, 0.04);
  padding: 2.4rem;
  overflow: hidden;
}
.subjectHall_relate-card-item:hover {
  cursor: pointer;
}
.subjectHall_relate-card-name {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #1D262B;
}
.subjectHall_relate-card-content {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  line-height: 2.6rem;
  color: #7B7986;
  text-align: justify;
  margin-top: 1.6rem;
}
.subjectHall_relate-card-down {
  margin-top: 2.4rem;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-30 14:49:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-bl
 * ----------------------------------------
 */
@-webkit-keyframes slide-bl {
  0% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
  }
  100% {
    -webkit-transform: translateY(-30%) translateX(-10%);
    transform: translateY(-30%) translateX(-10%);
  }
}
@keyframes slide-bl {
  0% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
  }
  100% {
    -webkit-transform: translateY(4%) translateX(-4%);
    transform: translateY(4%) translateX(-4%);
  }
}
/**
 * ----------------------------------------
 * @animation text-shadow-drop-center
 * ----------------------------------------
 */
@-webkit-keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.08), 4px 4px 10px rgba(0, 0, 0, 0.08);
  }
}
@keyframes text-shadow-drop-center {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.08), 4px 4px 10px rgba(0, 0, 0, 0.08);
  }
}

/*# sourceMappingURL=Subject_Hall.css.map */
