@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'base/mutual';

body{
  margin: auto;
  height: 100vh;
  position: relative;
}
//--Content---------------------------------------------------//
.main-content {
  max-width: 1440px;

  //--Tree
  &_tree {
    height: 100vh;
    overflow: hidden;
    max-width: 1440px;
    background-color: $palette-5;
    box-shadow: 4px 0px 6px rgb(0 0 0 / 6%);
    padding-bottom: 4.8rem;
    &_title{
      h1{
        @include font(semibold, 20);
        padding: 1rem;
        border-bottom: 1px solid $palette-4;
        color: $palette-1;
        margin-bottom: 0;
      }
    }
    
    .tree {
      @include font(regular, 16);
      overflow-x: hidden;
      overflow-y: auto;
      width: 100%;
      height: 100%;
      padding: 0 0 0 0;
      

      ul {
        position: relative;
        width: 100%;
        margin-left: 1.4rem;
        padding: 0;
        ul {
          position: relative;
          width: 100%;
          margin-left: 1.4rem;
          
        }
      }
      li {
        position: relative;
        cursor: pointer;
        width: 100%;
        margin: 0;
        padding: 8px 1.2rem 8px 1.8rem ;
        font-size: 2rem;
        line-height: 2.8rem;
        color: $secondary-7;
        a {
          display: flex;
          width: inherit;
          height: 100%;
          font-family: $font-semibold;
          font-size: 2rem;
          line-height: 2.8rem;
          color: $secondary-7;
          word-wrap: break-word;
          text-align: justify;
        }
        i{
          display: inline !important;
          vertical-align: middle;
          font-size: 1.6rem;
          margin-top: 4px;
          margin-right: 1rem;
        }
  
        .active {
          color: $secondary-1;
        }
        .bg-color{
          background-color: $secondary-5;
          width: 100%;
        }
      }
      .colorHover {
        color: $secondary-1;
      }
    }

    .tree ul::before {
      content: "";
      display: block;
      width: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
    }

    .tree ul li::before {
      content: "";
      display: block;
      width: 10px;
      height: 0;
      margin-top: -1px;
      position: absolute;
      top: 1em;
      left: 0;
    }

    .tree ul li:last-child:before {
      height: auto;
      top: 1em;
      bottom: 0;
    }

    .tree li button,
    .tree li button:active,
    .tree li button:focus {
      text-decoration: none;
      border: none;
      background: transparent;
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
      outline: 0;
    }

  }

  &_lesson {
    background-color: $palette-7;
    .lesson{
      &-wrapper{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0 14rem 0 5rem ;
      }
      &-head{
        padding: 1.6rem 0;
        h1{
          @include font(semibold, 32);
          color: $palette-1;
        }
      }
      &-general{
        display: flex;
        gap: 1.6rem;
        padding: 1.4rem 0;
        align-items: center;
        &_info{
          @include font(regular, 14);
          display: flex;
          align-items: center;
          margin: auto;
          gap: 1.4rem;
          color: $palette-1;
          i{
            transform: translateY(12%);
            font-size: 4px;
          }
        } 
        .audio.green-audio-player {
          width: 30%;
          min-width: 300px;
          height: 40px;
          box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .07);
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-left: 4px;
          padding-right: 18px;
          border-radius: 4px;
          user-select: none;
          -webkit-user-select: none;
          background-color: $palette-8;
          border-radius: 10rem;
          z-index: 0;
          .play-pause-btn {
            display: none;
            cursor: pointer;
            padding: 8px;
            background-color: #ffff;
            border-radius: 10rem;
          }
          .spinner {
            width: 18px;
            height: 18px;
            background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/355309/loading.png);
            background-size: cover;
            background-repeat: no-repeat;
            animation: spin 0.4s linear infinite;
          }
          .slider {
            flex-grow: 1;
            background-color: $palette-7;
            cursor: pointer;
            position: relative;
            .progressing {
              background-color: $secondary-6;
              border-radius: inherit;
              position: absolute;
              pointer-events: none;
              z-index: 10;
              .pining {
                height: 16px;
                width: 16px;
                border-radius: 8px;
                background-color: $secondary-1;
                position: absolute;
                pointer-events: all;
                box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.32);
                z-index: 1000;
              }
            }
          }
          .controls {
            @include font(regular, 14);
            color: $palette-1;
            display: flex;
            flex-grow: 1;
            justify-content: space-between;
            align-items: center;
            margin-left: 8px;
            margin-right: 16px;
            .slider {
              margin-left: 16px;
              margin-right: 16px;
              border-radius: 2px;
              height: 4px;
              .progressing {        
                width: 0;
                height: 100%;
                .pining {
                  right: -8px;
                  top: -6px;
                }
              }
            }
            span {
              cursor: default;
            }
          }
          .volume {
            position: relative;
            .volume-btn {
              cursor: pointer;
              &.open path {
                fill: $secondary-6;
              }
            }
            .volume-controls {
              width: 30px;
              height: 135px;
              background-color: rgba(0, 0, 0, 0.62);
              border-radius: 7px;
              position: absolute;
              left: -3px;
              bottom: 52px;
              flex-direction: column;
              align-items: center;
              display: flex;
              &.hidden {
                display: none;
              }
              .slider {
                margin-top: 12px;
                margin-bottom: 12px;
                width: 6px;
                border-radius: 3px;
                .progressing {
                  bottom: 0;
                  height: 100%;
                  width: 6px;
                  .pining {
                    left: -5px;
                    top: -8px;
                  }
                }
              }
            }    
          }
        }
        svg, img {
          display: block;
        }
        
        @keyframes spin {
          from {
            transform: rotateZ(0);
          }
          to {
            transform: rotateZ(1turn);
          }
        }
        &_author{
          @include font(semibold, 14);
          color: $secondary-1;
        }
        &_divide{
          border: 1px solid $palette-4;
          border-radius: 2px;
          background-color:$palette-4;
          height: 2.8rem;
          margin-bottom: auto;
          margin-top: auto;
        }
        &_favorite{
          position: relative;
          height: 100%;
          i{
            position: relative;
          }
          
        }
        &_announce{
          position: absolute;
          width: 200px;
          top: 0;
          left: 3.2rem;
          padding: 0.2rem 1rem;
          border-radius: 4px;
          text-align: center;
          color: $palette-7;
          opacity: 0;
          visibility: hidden;

          span{
            @include font(regular, 14);
            display: block;
            width: 100%;
          }
        }
        .click-announce{
          color: $palette-1;
          background-color: $palette-7;
          box-shadow: 0px 4px 10px rgba(121, 132, 165, 0.25);
          opacity: 1;
          visibility: visible;
          z-index: 100;
        }
      }
      // Lesson Body
      &-body{
        padding: 2.4rem 0;
      }
      &-content{
        @include font(simibold, 16);
        line-height: 3.2rem;
      }
      &-paragraph{
        text-align: justify;
      }
      &-paragraph:not(:first-child){
        margin-top: 1.6rem;
      }
      // Lesson Action
      &-action{
        display: flex;
        justify-content: space-between;
        padding: 2.4rem 0;
        &_back, &_next{
          display: flex;
          span, i{
            @include font(semibold, 16);
            color: $primary-2;
          }
          i{
            display: flex;
            align-items: center;
            gap: 8px;
          }
          
        }
      }
      // Lesson More
      &-more{
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
        padding: 8px 0 6.4rem 0;
        &_head{
          display: flex;
          align-content: center;
          align-items: center;
          gap: 8px;
          h2{
            @include font(semibold, 18);
            margin: 0;
            color: $secondary-1;
          }
        }
        &_number{
          padding: 1px 7px;
          border-radius: 100px;
          background-color: $secondary-6;
          color: $primary-2;
          span{
            @include font(semibold, 10);
          }
        }
        &_document{
          padding: 1.6rem 3.2rem;
        }
        &_item{
          display: flex;
          gap: 8px;
        }
        &_item:not(:first-child){
          margin-top: 1.8rem;
        }
        &_icon{
          height: 3rem;
          padding: 1rem;
          border-radius: 100px;
          background: $palette-5;
          box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.1);
          i{
            font-size: 1rem;
            display: block;
            color: $primary-2;
          }
        }
        &_nameFile{
          color: $palette-1;
          margin-top: auto;
          margin-bottom: auto;
          a{
            @include font(regular, 16);
            color: $secondary-7;
            &:hover{
              color: $primary-2;
            }
          }

        }
      }
    }
  }
}
#back-top a {
  width: 4.6rem;
  height: 4.6rem;
  right: 2rem;
  bottom: 8rem;
  position: fixed;
  padding-top: 1.2rem;
  display: block;
  text-align: center;
  background-color: $color-bg-semiwhite;
  box-shadow: 0px 4px 4px 8px rgba(255, 255, 255, 0.25), 0px 0px 10px 2px rgba(0, 0, 0, 0.25), 0px 0px 15px 10px #e0fff5;
  border-radius: 50%;
  z-index: 9996;
  opacity: 0.45;
  filter: alpha(opacity=50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  i {
    font-size: 1rem;
    color: #079db2;
  }
  &:hover,
  &:focus {
    opacity: 0.8;
  }
}