@charset "UTF-8";
/* Set các giá trị với màn hình tương ứng */
html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* using rem unit */
html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  overflow-x: hidden;
  font-family: "DarkerGrotesque-Medium", sans-serif;
  font-size: 1.6rem;
  color: #7b7986;
  line-height: 1;
  background-color: #f9fbfe;
}

.category {
  width: 35rem;
  background-color: #fcfcfc;
  box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.04);
  display: flex;
  height: 100vh;
  overflow-y: scroll;
  font-family: "DarkerGrotesque-SemiBold", sans-serif;
}
.category-Lv01 {
  list-style: none;
  padding-left: 1.6rem;
}
.category-Lv02, .category-Lv03, .category-Lv04 {
  padding-left: 1.6rem;
}
.category-Lv01 {
  width: 100%;
}
.category-Lv01-item {
  width: 100%;
}
.category-Lv01-item:first-child {
  padding: 1.8rem 0 0 0;
}
.category-Lv01-link {
  font-family: "DarkerGrotesque-SemiBold", sans-serif;
  font-size: 1.8rem;
  line-height: 2.6rem;
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
  padding-top: 9px;
  padding-bottom: 9px;
  color: #7B7986;
  word-break: break-all;
}
.category-Lv01-link i {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  transition: 0.3s ease;
  height: 100%;
  vertical-align: middle;
  padding-top: 0.5rem;
}
.category-Lv01 .active {
  color: #22438C;
}
.category-Lv01-link:hover {
  color: #22438C;
}
.category-Lv02, .category-Lv03, .category-Lv04 {
  display: none;
}
.category-Lv02-item, .category-Lv03-item, .category-Lv04-item {
  width: 100%;
}
.category-Lv02-link, .category-Lv03-link, .category-Lv04-link {
  font-family: "DarkerGrotesque-SemiBold", sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding-right: 2rem;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  word-break: break-all;
  color: #7B7986;
}
.category-Lv02 i, .category-Lv03 i, .category-Lv04 i {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  transition: 0.3s ease;
  height: 100%;
  vertical-align: middle;
  padding-top: 0.3rem;
}
.category-Lv02-link:hover, .category-Lv03-link:hover, .category-Lv04-link:hover {
  color: #22438C;
}
.category-Lv02 .active, .category-Lv03 .active, .category-Lv04 .active {
  color: #22438C;
}
.category-Lv02 .active2, .category-Lv03 .active2, .category-Lv04 .active2 {
  color: #22438C;
}
.category-Lv04-link {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
}
.category-Lv04-link::before {
  content: "•";
  font-size: 2rem;
  list-style: 3.2rem;
}
.category-Lv04 .active {
  color: #22438C;
}
.category-Lv04 .active2 {
  color: #22438C;
}
.category .show {
  display: block;
}
.category .rotate {
  transform: rotate(90deg);
}

/*# sourceMappingURL=test.css.map */
