//1st
$color--red: #df2040;
$color--1: #fc556f;
$color--blue: #1a71ca;
$color--darkblue: #22438c;
$color--orange: #fbab5b;
//2nd
$color--black: #1d262b;
$color--grey: #7b7986;
$color--green: #40BF6A;
$color--lightgrey: #f6f8f9;
$color-text--lightgrey: #f9fbfe;
$color-bg-semiwhite: #fcfcfe;
$color-bottom-bar: rgba(164, 217, 255, 0.5);
$shadow-btn: 0px 2px 6px rgba(4, 95, 191, 0.2);
$radius-btn: 6px;
$mr-section: 14.5rem;
$mr-section-sm: 4rem;

$secondary-1: #22438C;
$secondary-2: #fee5cd;
$secondary-3: #f9d2d9;
$secondary-4: #d9f2e1;
$secondary-7: #7B7986;

$palette-1: #1D262B;
$palette-2: #051113;
$palette-3: #c2cfd6;
$palette-4: #e0e7eb;
$palette-7: #fcfcfc;

$font-medium: "DarkerGrotesque-Medium",
sans-serif;
$font-semibold: "DarkerGrotesque-SemiBold",
sans-serif;
$font-bold: "DarkerGrotesque-Bold",
sans-serif;
$font-extrabold: "DarkerGrotesque-ExtraBold",
sans-serif;
$font-size: 1.6rem;
// table 
$table-border-color: $palette-3;
/* Set các giá trị với màn hình tương ứng */
$mobile-width: 480px;
$lg-mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1024px;
$lg-desktop-width: 1440px;

html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

input,
textarea,
select,
button {
    outline: none;
}

input {
    line-height: normal;
}

label,
button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* using rem unit */
html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

body {
    overflow-x: hidden;
    font-family: $font-medium;
    font-size: $font-size;
    color: $color--grey;
    line-height: 1;
    background-color: $color-text--lightgrey;
}

.tree {
    margin: 0;
    padding: 0;
    list-style: none;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-left: 1em;
        position: relative;

        ul {
            margin-left: 1em;
            position: relative;
        }
    }
    li{
        margin:0;
        padding:0 1em;
        line-height:2em;
        color: $secondary-7;
        font-weight:700;
        position:relative;
        cursor: pointer;
       
        a{
            font-family: $font-bold;
            color: $secondary-7;
        }
        i{
            font-size: 2rem;
            vertical-align: middle;
            padding: 10px 10px 0px 6px;
        }
        .active{
            color: $secondary-1;
        }
    }
    .colorHover{
        color: $secondary-1;
    }
}
.tree ul::before{
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid;
}
.tree ul li::before{
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0;
}
.tree ul li:last-child:before {
    // background:#fff;
    height:auto;
    top:1em;
    bottom:0
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    // color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}