@charset "UTF-8";
/* Set các giá trị với màn hình tương ứng */
@media screen and (min-width: 240px) {
  .footer-Logo a {
    justify-content: center;
    gap: 1rem;
  }
  .footer-Logo a img {
    width: 7rem;
  }
  .footer-Logo a span {
    font-size: 4rem;
  }
  .footer-Body {
    flex-direction: column;
    padding: 0 1.2rem;
  }
  .footer-Col {
    text-align: center;
  }
  .footer-Intro {
    text-align: center;
  }
  .footer-Intro_nameSys {
    text-align: center;
  }
  .footer-Intro_nameSys_title {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  .footer-Intro_nameSchool {
    font-size: 1.8rem;
    line-height: 2.4rem;
    display: none;
  }
  .footer-Intro_location, .footer-Intro_phone {
    justify-content: center;
    display: none;
  }
  .footer-Guide, .footer-Info, .footer-Conect {
    flex-direction: column;
    margin-top: 2rem;
  }
  .footer-Guide_link:hover, .footer-Info_link:hover, .footer-Conect_link:hover {
    color: #1D262B;
  }
  .footer-Conect_social {
    justify-content: center;
    gap: 5.2rem;
  }
  .footer-Conect_social i {
    font-size: 3.2rem;
  }
  .footer .footer-noneBG {
    box-shadow: none;
  }
  .copyR span {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer-Logo a {
    justify-content: flex-start;
    gap: 2rem;
  }
  .footer-Logo a img {
    width: 8rem;
  }
  .footer-Body {
    flex-direction: row;
    padding: 0 0;
  }
  .footer-Col {
    text-align: start;
    padding: 0 10px 10px 10px;
  }
  .footer-Intro {
    text-align: start;
  }
  .footer-Intro_nameSys {
    text-align: start;
  }
  .footer-Intro_nameSys_title {
    font-size: 2.8rem;
    line-height: 3.6rem;
  }
  .footer-Intro_nameSchool {
    display: block;
  }
  .footer-Intro_location, .footer-Intro_phone {
    justify-content: flex-start;
    display: flex;
  }
  .footer-Guide, .footer-Info, .footer-Conect {
    margin-top: 0;
  }
  .footer-Conect_social {
    justify-content: flex-start;
    gap: 3.2rem;
  }
  .footer-Conect_social i {
    font-size: 3.2rem;
  }
  .footer_nameSchool {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  .footer-noneBG {
    background: transparent;
    background-color: transparent;
    box-shadow: none;
  }
  .copyR span {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
}
@media screen and (min-width: 1440px) {
  .footer-Logo a {
    justify-content: flex-start;
    gap: 2rem;
  }
  .footer-Logo a img {
    width: 10.5rem;
    height: 10.5rem;
  }
  .footer-Logo a span {
    font-size: 4.8rem;
    line-height: 5.6rem;
  }
  .footer-Body {
    flex-direction: row;
    padding: 0 0;
  }
  .footer-Col {
    text-align: start;
    padding: 0 10px 10px 10px;
  }
  .footer-Intro {
    text-align: start;
  }
  .footer-Intro_nameSys {
    text-align: start;
  }
  .footer-Intro_nameSchool {
    font-size: 2rem;
    line-height: 2.8rem;
  }
  .footer-Guide, .footer-Info, .footer-Conect {
    margin-top: 0;
  }
  .footer-Conect_social {
    justify-content: flex-start;
    gap: 3.2rem;
  }
  .footer-Conect_social i {
    font-size: 4rem;
  }
  .copyR span {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
}

/*# sourceMappingURL=Footer-respon.css.map */
