@charset "UTF-8";
/* Set các giá trị với màn hình tương ứng */
@media (max-width: 479px) {
  .titleheading h4 {
    font-size: 2.8rem;
  }
  .navtop {
    display: none;
  }
  .nav-icon {
    display: inline-block;
  }
  .header-mobile {
    display: flex;
    align-items: center;
    background-color: #fff;
  }
  .navtop__logo-mobile {
    width: 50%;
    display: inline-block;
  }
  .bg-top::before,
.banner-bg::after,
.bg-func::after,
.bg-about::before,
.bg-about::after,
.bg-app::before,
.bg-app::after {
    display: none;
  }
  .banner-bg {
    background-image: url("../img/bg-top-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    padding-bottom: 10rem;
  }
  .banner-bg .banner {
    margin-top: 0;
    padding-top: 4rem;
  }
  .banner-bg .banner .banner-wrap {
    padding: 2rem 0;
  }
  .banner-bg .banner__text {
    font-size: 3.5rem;
    text-align: center;
  }
  .banner-bg .banner__text--bold {
    font-size: 5rem;
    text-align: center;
  }
  .banner-bg .banner__desc {
    text-align: center;
    padding: auto 2rem;
  }
  .banner-bg .banner__btn {
    display: flex;
    justify-content: center;
  }
  .banner-bg .banner__btn .btn-custom:last-child {
    padding-right: 0;
  }
  .banner-bg .banner__btn .btn-custom a {
    font-size: 2rem;
  }
  .banner-bg .banner__img {
    display: none;
  }
  .func-mobile .slick-list {
    padding-bottom: 2rem;
  }
  .func-mobile .slick-dots li button:before {
    font-size: 1rem;
    color: #1a71ca;
  }
  .function {
    margin-top: 6rem;
  }
  .function .func-desktop {
    display: none;
  }
  .function .func-mobile {
    display: block;
    position: relative;
  }
  .function .func-mobile .func__item {
    min-height: 41rem;
    margin: 4rem 2rem 2rem 2rem;
  }
  .about {
    margin-top: calc(4rem + 4rem);
    background-color: #fff;
    padding: 4rem 0;
  }
  .about__text {
    font-size: 2rem;
  }
  .highlight {
    margin-top: 4rem;
  }
  .highlight .hl {
    --col: 1;
    --spacing: 2rem;
    padding: 1rem;
  }
  .application {
    margin-top: 4rem;
    padding: 4rem 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(246, 248, 249) 100%);
  }
  .application__textwrap {
    margin-left: 0;
    margin-top: 2rem;
    padding-bottom: 0;
  }
  .application__text {
    margin-top: 0;
    padding-top: 2rem;
    font-size: 2rem;
  }
  .application__img {
    width: 50%;
  }
  .footer {
    margin-top: 4rem;
  }
  .footer__wrap {
    flex-direction: column;
  }
  .footer__item a {
    padding-top: 1.6rem;
  }
  .footer__logoinfo {
    text-align: center;
  }
  .footer__logoinfo ul {
    padding: 0;
  }
  .footer .location,
.footer .phone {
    display: block;
    line-height: 2;
    text-align: center;
  }
  .footer .location::before,
.footer .phone::before {
    margin: 0 auto;
    display: block;
  }
  .footer .footer__guide,
.footer .footer__info {
    position: relative;
    display: flex;
    padding-bottom: 2rem;
  }
  .footer .footer__guide .title,
.footer .footer__info .title {
    font-size: 2rem;
  }
  .footer .footer__guide .guide,
.footer .footer__guide .info,
.footer .footer__info .guide,
.footer .footer__info .info {
    width: 11rem;
  }
  .footer .footer__guide .guide-content,
.footer .footer__guide .info-content,
.footer .footer__info .guide-content,
.footer .footer__info .info-content {
    margin-left: 7rem;
  }
  .footer .footer__guide::after,
.footer .footer__info::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 50%;
    background-color: #22438c;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .footer .footer__links {
    text-align: center;
  }
  .footer .footer__links .title {
    font-size: 2rem;
  }
  .footer .footer__links .links {
    justify-content: center;
  }
  .footer .footer__links .links a {
    margin: 0 3.5rem;
  }
  .bottom {
    margin-top: 4rem;
  }
  #back-top a {
    right: 3rem;
  }
  .sidebar-pages {
    border-left: none;
  }
  .sort-list {
    display: none;
  }
  .sort-list-tl {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .sort-list-tl__item {
    margin-top: 5rem;
  }
  .sort-list-tl .sort-letter {
    font-family: "DarkerGrotesque-Bold", sans-serif;
    color: #7b7986;
    font-size: 2.4rem;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
  }
  .sort-list-tl .sort-letter span {
    font-size: 2.4rem;
    list-style: 3.2rem;
    font-weight: "DarkerGrotesque-Bold", sans-serif;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10rem;
    padding-bottom: 5px;
  }
  .sort-list-tl .sort-letter span:hover {
    color: #22438c;
    background-color: #a4d9ff;
    transition: all 0.3s linear;
  }
  .sort-list-tl .slick-prev::before {
    color: #7B7986 !important;
    font-size: 2.4rem;
  }
  .sort-list-tl .slick-next::before {
    color: #7B7986 !important;
    font-size: 2.4rem;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .titleheading h4 {
    font-size: 2.8rem;
  }
  .navtop {
    display: none;
  }
  .nav-icon {
    display: inline-block;
  }
  .header-mobile {
    display: flex;
    align-items: center;
    background-color: #fff;
  }
  .navtop__logo-mobile {
    width: 50%;
    display: inline-block;
  }
  .bg-top::before,
.banner-bg::after,
.bg-func::after,
.bg-about::before,
.bg-about::after,
.bg-app::before,
.bg-app::after {
    display: none;
  }
  .banner-bg {
    background-image: url(/assets/img/bg-top-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10rem;
  }
  .banner-bg .banner {
    margin-top: 0;
    padding-top: 4rem;
  }
  .banner-bg .banner .w-cs {
    width: 100%;
  }
  .banner-bg .banner .banner-wrap {
    padding: 2rem 4rem;
  }
  .banner-bg .banner__text {
    font-size: 3.5rem;
    text-align: center;
  }
  .banner-bg .banner__text--bold {
    font-size: 5rem;
    text-align: center;
  }
  .banner-bg .banner__desc {
    text-align: center;
    padding: auto 2rem;
  }
  .banner-bg .banner__btn {
    display: flex;
    justify-content: center;
  }
  .banner-bg .banner__btn .btn-custom:last-child {
    padding-right: 0;
  }
  .banner-bg .banner__btn .btn-custom a {
    font-size: 2rem;
  }
  .banner-bg .banner__img {
    display: none;
  }
  .func-mobile .slick-list {
    padding-bottom: 2rem;
  }
  .func-mobile .slick-dots li button:before {
    font-size: 1rem;
    color: #1a71ca;
  }
  .function {
    margin-top: 6rem;
  }
  .function .func-desktop {
    display: none;
  }
  .function .func-mobile {
    display: block;
    position: relative;
  }
  .function .func-mobile .func__item {
    min-height: 41rem;
    margin: 4rem 2rem 2rem 2rem;
  }
  .about {
    margin-top: calc(4rem + 4rem);
    background-color: #fff;
    padding: 6rem 0;
  }
  .about__img {
    width: 70%;
    margin: 0 auto;
  }
  .about__text {
    font-size: 2rem;
  }
  .highlight {
    margin-top: 4rem;
  }
  .highlight .hl {
    --col: 2;
    --spacing: 2rem;
    padding: 1rem;
  }
  .application {
    margin-top: 4rem;
    padding: 6rem 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(246, 248, 249) 100%);
  }
  .application__textwrap {
    margin-left: 0;
    margin-top: 2rem;
    padding-bottom: 0;
  }
  .application__text {
    margin-top: 0;
    padding-top: 10rem;
    font-size: 2rem;
  }
  .application__img {
    width: 25%;
  }
  .footer {
    margin-top: 4rem;
  }
  .footer__wrap {
    flex-direction: column;
  }
  .footer__item a {
    padding-top: 1.6rem;
  }
  .footer__logoinfo {
    text-align: center;
  }
  .footer__logoinfo ul {
    padding: 0;
  }
  .footer .location,
.footer .phone {
    display: block;
    line-height: 2;
    text-align: center;
  }
  .footer .location::before,
.footer .phone::before {
    margin: 0 auto;
    display: block;
  }
  .footer .footer__guide,
.footer .footer__info {
    position: relative;
    display: flex;
    padding-bottom: 2rem;
    padding-left: 18rem;
  }
  .footer .footer__guide .title,
.footer .footer__info .title {
    font-size: 2rem;
  }
  .footer .footer__guide .guide,
.footer .footer__guide .info,
.footer .footer__info .guide,
.footer .footer__info .info {
    width: 11rem;
  }
  .footer .footer__guide .guide-content,
.footer .footer__guide .info-content,
.footer .footer__info .guide-content,
.footer .footer__info .info-content {
    margin-left: 7rem;
  }
  .footer .footer__guide::after,
.footer .footer__info::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 80%;
    background-color: #22438c;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .footer .footer__links {
    text-align: center;
  }
  .footer .footer__links .title {
    font-size: 2rem;
  }
  .footer .footer__links .links {
    justify-content: center;
  }
  .footer .footer__links .links a {
    margin: 0 3.5rem;
  }
  .bottom {
    margin-top: 4rem;
  }
  .sort-list {
    display: none;
  }
  .sort-list-tl {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .sort-list-tl__item {
    width: 100%;
    margin-top: 5rem;
  }
  .sort-list-tl .sort-letter {
    font-family: "DarkerGrotesque-Bold", sans-serif;
    color: #7b7986;
    font-size: 2.4rem;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
  }
  .sort-list-tl .sort-letter span {
    font-size: 2.4rem;
    list-style: 3.2rem;
    font-weight: "DarkerGrotesque-Bold", sans-serif;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10rem;
    padding-bottom: 5px;
  }
  .sort-list-tl .sort-letter span:hover {
    color: #22438c;
    background-color: #a4d9ff;
    transition: all 0.3s linear;
  }
  .sort-list-tl .slick-prev::before {
    color: #7B7986 !important;
    font-size: 2.4rem;
  }
  .sort-list-tl .slick-next::before {
    color: #7B7986 !important;
    font-size: 2.4rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .head {
    overflow-x: clip;
  }
  .banner-bg::after,
.bg-func::after,
.bg-about::before,
.bg-about::after,
.bg-app::before,
.bg-app::after {
    display: none;
  }
  .bg-top::before {
    transform: scale(0.8);
    top: -100%;
    right: -20%;
  }
  .logoname {
    display: none;
  }
  .navtop__menu {
    margin-left: 2rem;
  }
  .navtop__menu a {
    padding: 0 1.5rem;
  }
  .banner {
    margin-top: 4rem;
  }
  .banner .banner-wrap {
    padding: 2rem 0;
  }
  .banner__text {
    font-size: 3.5rem;
    text-align: center;
  }
  .banner__text--bold {
    font-size: 5rem;
    text-align: center;
  }
  .banner__desc {
    text-align: center;
    padding: auto 2rem;
  }
  .banner__btn {
    display: flex;
    justify-content: center;
  }
  .banner__btn .btn-custom:last-child {
    padding-right: 0;
  }
  .banner__btn .btn-custom a {
    font-size: 2rem;
  }
  .banner .banner-mobile {
    align-self: center;
  }
  .function {
    margin-top: calc(4rem + 4rem);
  }
  .function .func-desktop {
    display: none;
  }
  .function .func-mobile {
    display: block;
  }
  .function .func-mobile .func__item {
    min-height: 41rem;
    margin: 4rem 2rem 2rem 2rem;
  }
  .func-mobile .slick-list {
    padding-bottom: 2rem;
  }
  .func-mobile .slick-dots li button:before {
    font-size: 1rem;
    color: #1a71ca;
  }
  .about__img img {
    width: 100%;
  }
  .highlight {
    margin-top: 4rem;
  }
  .highlight .hl {
    --col: 2;
  }
  .application {
    margin-top: 4rem;
  }
  .footer {
    margin-top: 4rem;
  }
  .footer__wrap {
    flex-direction: column;
  }
  .footer__item a {
    padding-top: 1.6rem;
  }
  .footer__logoinfo {
    text-align: center;
  }
  .footer__logoinfo ul {
    padding: 0;
  }
  .footer .location,
.footer .phone {
    display: block;
    line-height: 2;
    text-align: center;
  }
  .footer .location::before,
.footer .phone::before {
    margin: 0 auto;
    display: block;
  }
  .footer .footer__guide,
.footer .footer__info {
    position: relative;
    display: flex;
    padding-bottom: 2rem;
    padding-left: 18rem;
  }
  .footer .footer__guide .title,
.footer .footer__info .title {
    font-size: 2rem;
  }
  .footer .footer__guide .guide,
.footer .footer__guide .info,
.footer .footer__info .guide,
.footer .footer__info .info {
    width: 11rem;
  }
  .footer .footer__guide .guide-content,
.footer .footer__guide .info-content,
.footer .footer__info .guide-content,
.footer .footer__info .info-content {
    margin-left: 7rem;
  }
  .footer .footer__guide::after,
.footer .footer__info::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 90%;
    background-color: #22438c;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .footer .footer__links {
    text-align: center;
  }
  .footer .footer__links .title {
    font-size: 2rem;
  }
  .footer .footer__links .links {
    justify-content: center;
  }
  .footer .footer__links .links a {
    margin: 0 3.5rem;
  }
  .bottom {
    margin-top: 4rem;
  }
  .sort-list {
    display: none;
  }
  .sort-list-tl {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .sort-list-tl__item {
    margin-top: 5rem;
  }
  .sort-list-tl .sort-letter {
    font-family: "DarkerGrotesque-Bold", sans-serif;
    color: #7b7986;
    font-size: 2.4rem;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
  }
  .sort-list-tl .sort-letter span {
    font-size: 2.4rem;
    list-style: 3.2rem;
    font-weight: "DarkerGrotesque-Bold", sans-serif;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10rem;
    padding-bottom: 5px;
  }
  .sort-list-tl .sort-letter span:hover {
    color: #22438c;
    background-color: #a4d9ff;
    transition: all 0.3s linear;
  }
  .sort-list-tl .slick-prev::before {
    color: #7B7986 !important;
    font-size: 2.4rem;
  }
  .sort-list-tl .slick-next::before {
    color: #7B7986 !important;
    font-size: 2.4rem;
  }
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .logoname {
    display: none;
  }
  .banner-bg::after,
.bg-func::after,
.bg-about::before,
.bg-about::after,
.bg-app::before,
.bg-app::after {
    display: none;
  }
  .banner {
    margin-top: 4rem;
  }
  .banner .banner-wrap {
    padding: 5rem 0 5rem 4rem;
  }
  .banner .w-cs {
    width: 60%;
  }
  .banner .banner-mobile {
    width: 40%;
  }
  .function {
    margin-top: 4rem;
  }
  .function .func {
    --spacing: 2rem;
    padding: 6rem 1rem 3rem 1rem;
  }
  .about {
    margin-top: 4rem;
  }
  .highlight {
    margin-top: 4rem;
  }
  .highlight .hl {
    --col: 2;
    --spacing: 2rem;
  }
  .application {
    margin-top: 4rem;
  }
  .footer {
    margin-top: 4rem;
  }
  .sort-list {
    display: none;
    width: 100%;
  }
  .sort-list-tl {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .sort-list-tl__item {
    margin-top: 5rem;
  }
  .sort-list-tl .sort-letter {
    font-family: "DarkerGrotesque-Bold", sans-serif;
    color: #7b7986;
    font-size: 2.4rem;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
  }
  .sort-list-tl .sort-letter span {
    font-size: 2.4rem;
    list-style: 3.2rem;
    font-weight: "DarkerGrotesque-Bold", sans-serif;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10rem;
    padding-bottom: 5px;
  }
  .sort-list-tl .sort-letter span:hover {
    color: #22438c;
    background-color: #a4d9ff;
    transition: all 0.3s linear;
  }
  .sort-list-tl .slick-prev::before {
    color: #7B7986 !important;
    font-size: 2.4rem;
  }
  .sort-list-tl .slick-next::before {
    color: #7B7986 !important;
    font-size: 2.4rem;
  }
}
@media (min-width: 1440px) and (max-width: 1540px) {
  .banner-bg::after {
    content: url(../img/bg-grey-top.svg);
    position: absolute;
    bottom: -70%;
    left: -10%;
    z-index: -1;
  }
  .bg-about::after {
    content: url(../img/bg-grey-about-sm.svg);
    position: absolute;
    right: -10%;
    top: -20rem;
    z-index: -1;
  }
}

/*# sourceMappingURL=Header-respon.css.map */
