@media screen and (min-width:280px){
    .box-result{
        padding-left: 12px !important;
        padding-right: 12px !important;
        &-trueAnswer{
            font-size: 28px;
            line-height: 36px;
            &-true, &-divide, &-all{
                font-size: 48px;
                line-height: 56px;
            }
        }
        &-action{
            flex-direction: column;
            &-makeAgain{
                width: 100%;
                text-align: center;
            }
            &-lookDetail{
                width: 100%;
                text-align: center;
            }
    
        }
    }
}
@media screen and (min-width:768px){

}
@media screen and (min-width:480px){
    .box-result{
        padding-left: 12px !important;
        padding-right: 12px !important;
        &-trueAnswer{
            font-size: 36px;
            line-height: 44px;
            &-true, &-divide, &-all{
                font-size: 64px;
                line-height: 72px;
            }
        }
        &-action{
            flex-direction: row;
            &-makeAgain{
                width: auto;
                padding: 14px;
                text-align: center;
            }
            &-lookDetail{
                width: auto;
                text-align: center;
            }
    
        }
    }
}
@media screen and (min-width:992px){
    .box-result{
        padding-left: 12px !important;
        padding-right: 12px !important;
    }
}

@media screen and (min-width:1200px){

}
@media screen and (min-width:1440px){

}