@media screen and (min-width: 240px) {
  .subjectHall_title {
    padding: 2rem 1rem;
  }
  .subjectHall_title h1 {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  .subjectHall_title-underline {
    width: 20rem;
  }
  .subjectHall_main {
    margin-top: 0;
    padding: 2rem 1.2rem 4.8rem 1.2rem;
  }
  .subjectHall_intro {
    padding: 1.8rem;
  }
  .subjectHall_intro-title {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }
  .subjectHall_intro-content {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .subjectHall_card {
    flex-direction: column;
    margin-top: 2.4rem;
  }
  .subjectHall_card-item {
    width: 100%;
    height: auto;
  }
  .subjectHall_card-learn::before, .subjectHall_card-exam::before {
    opacity: 0;
  }
  .subjectHall_card-name {
    font-size: 4rem;
    line-height: 4.8rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .subjectHall_divide {
    margin-top: 3.2rem;
  }
  .subjectHall_relate {
    margin-top: 2.4rem;
  }
  .subjectHall_relate-title {
    font-size: 1.8rem;
    line-height: 2.6rem;
    text-align: center;
  }
  .subjectHall_relate-card {
    flex-direction: column;
    gap: 2.4rem;
  }
  .subjectHall_relate-card-item {
    max-width: 100%;
  }
  .subjectHall_relate-card-name {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .subjectHall_relate-card-down {
    margin-top: 0;
  }
}
@media screen and (min-width: 480px) {
  .subjectHall_card-learn::before, .subjectHall_card-exam::before {
    opacity: 1;
  }
  .subjectHall_card-name {
    top: 3.2rem;
    left: 3.2rem;
    transform: translate(0%, 0%);
  }
  .subjectHall_card-learn::before, .subjectHall_card-exam::before {
    top: 6rem;
    left: 26rem;
  }
  .subjectHall_relate-title {
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .subjectHall_card {
    flex-direction: row;
  }
  .subjectHall_card-name {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .subjectHall_card-learn::before, .subjectHall_card-exam::before {
    opacity: 0;
    top: 5rem;
    left: 20rem;
  }
}
@media screen and (min-width: 1024px) {
  .subjectHall_title {
    padding: 2.4rem 1rem;
  }
  .subjectHall_title h1 {
    font-size: 3.2rem;
    line-height: 4rem;
  }
  .subjectHall_title-underline {
    width: 30rem;
  }
  .subjectHall_main {
    margin-top: 0;
    padding: 4rem 4rem 7.2rem 4rem;
  }
  .subjectHall_intro {
    padding: 4rem;
  }
  .subjectHall_intro-title {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  .subjectHall_intro-content {
    font-size: 2rem;
    line-height: 2.8rem;
  }
  .subjectHall_card {
    margin-top: 4rem;
  }
  .subjectHall_card-learn::before, .subjectHall_card-exam::before {
    opacity: 1;
  }
  .subjectHall_card-name {
    font-size: 5.6rem;
    line-height: 6.4rem;
    top: 3.2rem;
    left: 3.2rem;
    transform: translate(0%, 0%);
  }
  .subjectHall_divide {
    margin-top: 4.8rem;
  }
  .subjectHall_relate {
    margin-top: 4.8rem;
  }
  .subjectHall_relate-title {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  .subjectHall_relate-card {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2.4rem;
  }
  .subjectHall_relate-card-item {
    max-width: 48%;
  }
  .subjectHall_relate-card-name {
    font-size: 2rem;
    line-height: 2.8rem;
  }
  .subjectHall_relate-card-down {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .subjectHall_card {
    flex-direction: row;
  }
  .subjectHall_card-learn::before {
    top: 6.8rem;
    left: 31rem;
  }
  .subjectHall_card-exam::before {
    top: 6rem;
    left: 32rem;
  }
}

/*# sourceMappingURL=Subject_Hall-respon.css.map */
