// $fontWeight: thin ,light, regular, medium, semibold, extrabold, black;
// font($fontWeight: string, $fontSize: number)
// font(regular, 16)
@mixin font($fontWeight, $fontSize){
  @if $fontWeight == 'thin' or $fontWeight == 100{
      font-family: $font-openSans;
      font-size: #{$fontSize+'px'};
      line-height: #{$fontSize+8+'px'};
      font-weight: 100;
  }
  @if $fontWeight == 'light' or $fontWeight == 300{
      font-family: $font-openSans;
      font-size: #{$fontSize+'px'};
      line-height: #{$fontSize+8+'px'};
      font-weight: 300;
  }
  @else if $fontWeight == 'regular' or $fontWeight == 400{
      font-family: $font-openSans;
      font-size: #{$fontSize+'px'};
      line-height: #{$fontSize+8+'px'};
      font-weight: 400;
  }
  @else if $fontWeight == 'medium' or $fontWeight == 500{
      font-family: $font-openSans;
      font-size: #{$fontSize+'px'};
      line-height: #{$fontSize+8+'px'};
      font-weight: 500;
  }
  @else if $fontWeight == 'semibold'or $fontWeight == 600{
      font-family: $font-openSans;
      font-size: #{$fontSize+'px'};
      line-height: #{$fontSize+8+'px'};
      font-weight: 600;
  }
  @else if $fontWeight == 'bold'or $fontWeight == 700{
      font-family: $font-openSans;
      font-size: #{$fontSize+'px'};
      line-height: #{$fontSize+8+'px'};
      font-weight: 700;
  }
  @else if $fontWeight == 'extrabold'or $fontWeight == 800{
      font-family: $font-openSans;
      font-size: #{$fontSize+'px'};
      line-height: #{$fontSize+8+'px'};
      font-weight: 800;
  }
  @else if $fontWeight == 'black'or $fontWeight == 900{
      font-family: $font-openSans;
      font-size: #{$fontSize+'px'};
      line-height: #{$fontSize+8+'px'};
      font-weight: 900;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg-login {
  background-image: url(../img/BG-login.svg);
  background-repeat: no-repeat;
  background-size: cover;
  // position: fixed;
  // top: 0;
  // right: 0;
  // bottom: 0;
  // left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login {
  padding: 4rem;
  background-color: $color--lightgrey;
  box-shadow: 2px 0px 20px rgba(104, 115, 125, 0.06), 0px 2px 20px rgba(104, 115, 125, 0.06), 0px -2px 20px rgba(104, 115, 125, 0.06),
    -2px 0px 20px rgba(104, 115, 125, 0.06);
  max-width: 58rem;
  max-height: 58rem;
  border-radius: 2rem;
  &__logo {
    display: block;
    max-width: 38.9rem;
    max-height: 6rem;
    margin: 0 auto;
  }
  &__form {
    margin-top: 4rem;
    .form-group {
      margin-top: 2rem;
    }
    .login-label {
      @include font(regular,16);
      color: $color--black;
      margin-bottom: 4px;
    }
    .check-label {
      @include font(regular,14);
      color: $color--black;
    }
    .login-input {
      @include font(regular,14);
      height: 4rem;
      border-radius: 0.8rem;
      background-color: $color-bg-semiwhite;
      border: solid 1px #dee4f5;
      padding-left: 2rem;
    }
    .login-input::placeholder {
      font-family: $font-openSans;
      @include font(regular,16);
      color: #c2cfd6;
    }
    .help {
      display: flex;
      justify-content: space-between;
      margin-top: 1.5rem;
      .form-check{
        margin-bottom: 0;
      }
      .form-check-input:checked {
        background-color: $color--blue;
        border-color: $color--blue;
      }
    }
    .forgot {
      @include font(regular,14);
      color: $color--blue;
    }
    .form-check-input {
      border: 2px solid $color--grey;
      transform: translateY(-3px);
    }
    .btn-login {
      display: block;
      width: 100%;
      padding: 1rem;
      margin-top: 3rem;
      background-color: $color--orange;
      @include font(semibold,18);
      color: $color--lightgrey;
      border: none;
      border-radius: 0.8rem;
    }
  }
  .bottom-help {
    .line {
      display: block;
      position: relative;
      max-width: 60rem;
      margin: 2rem auto;
      text-align: center;
      @include font(regular,16);
      color: $color--black;
    }
    .line::before {
      content: "";
      display: block;
      width: 44%;
      height: 1px;
      background: $color--black;
      opacity: 25%;
      top: 50%;
      position: absolute;
    }
    .line::after {
      content: "";
      display: block;
      width: 44%;
      height: 1px;
      background: $color--black;
      opacity: 25%;
      right: 0%;
      top: 50%;
      position: absolute;
    }
    .guide {
      margin-top: 3rem;
      text-align: center;
      @include font(regular,14);
      color: $color--black;
      line-height: 2.5rem;
      &__link {
        color: $color--red;
      }
    }
  }
}
.password-wrap {
  position: relative;
}
.showpass {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  margin-left: -50px;
  cursor: pointer;
  color: $palette-3;
}
// small device
@include mobile {
  .login {
    margin: 0 2rem;
    .login-label {
      font-size: 2rem;
    }
    .check-label {
      font-size: 1.6rem;
    }
    .forgot {
      font-size: 1.6rem;
    }
  }
}
