//1st
$color--red: #df2040;
$color--1: #fc556f;
$color--blue: #1a71ca;
$color--darkblue: #22438c;
$color--orange: #fbab5b;
//2nd
$color--black: #1d262b;
$color--grey: #7b7986;
$color--green: #40BF6A;
$color--lightgrey: #f6f8f9;
$color-text--lightgrey: #f9fbfe;
$color-bg-semiwhite: #fcfcfe;
$color-bottom-bar: rgba(164, 217, 255, 0.5);
$shadow-btn: 0px 2px 6px rgba(4, 95, 191, 0.2);
$radius-btn: 6px;
$mr-section: 14.5rem;
$mr-section-sm: 4rem;

$secondary-1: #22438C;
$secondary-2: #fee5cd;
$secondary-3: #f9d2d9;
$secondary-4: #d9f2e1;
$secondary-5: #D6F0F5;
$secondary-7: #7B7986;

$palette-1: #1D262B;
$palette-2: #051113;
$palette-3: #c2cfd6;
$palette-4: #e0e7eb;
$palette-7: #fcfcfc;

$font-medium: "DarkerGrotesque-Medium", sans-serif;
$font-semibold: "DarkerGrotesque-SemiBold", sans-serif;
$font-bold: "DarkerGrotesque-Bold", sans-serif;
$font-extrabold: "DarkerGrotesque-ExtraBold", sans-serif;
$font-size: 1.6rem;
// table 
$table-border-color: $palette-3;
/* Set các giá trị với màn hình tương ứng */
$mobile-width: 480px; 
$lg-mobile-width: 767px;
$tablet-width: 768px; 
$desktop-width: 1024px; 
$lg-desktop-width: 1440px; 
